container: {
    display: 'grid',
    gridTemplateColumns: '1fr auto',
    gridGap: '10px',
    padding: '10px',
    border: '1px solid #ddd',
    borderRadius: '5px',
    marginBottom: '20px',
    width: '100%'
  },
  searchContainer: {
    gridColumn: '1 / span 2',
    marginBottom: '10px'
  },
  searchInput: {
    width: '98.5%',  // Reduce search bar to 3/4 of its original width
    padding: '8px',
    borderRadius: '4px',
    border: '1px solid #ccc'
  },
  checkboxContainer: {
    display: 'flex',
    gap: '0px',  // Add space between checkbox pairs
    marginBottom: '10px',
  },
  label: {
    display: 'flex',
    alignItems: 'center',
    fontSize: '14px',
  },
  checkbox: {
    marginRight: '0px',  // Close the gap between checkbox and label
  },
  dateContainer: {
    display: 'flex',
    gap: '10px',  // Reduced gap between "From" and "To"
    alignItems: 'center',
    gridColumn: '1 / span 2',
  },
  dateLabel: {
    display: 'flex',
    alignItems: 'center',
    fontSize: '14px',
  },
  dateInput: {
    marginLeft: '5px',
    padding: '6px',
    borderRadius: '4px',
    border: '1px solid #ccc'
  },
  searchButton: {
    padding: '10px 15px',  // Adjust the button size
    backgroundColor: '#007BFF',
    color: '#fff',
    borderRadius: '5px',
    border: 'none',
    cursor: 'pointer',
    justifySelf: 'end',  // Align to the end of the row
    marginRight: '1%',  // Move search button slightly to the left
  }